.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #000;
}

.design-container {
    width: 100%;
    width: 600px;
    height: auto;
    background-color: white;
}

.form-container {
    padding: 20px;
}

.title-form {
    text-align: center;
    font-size: 25px;
}

.registration-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.container-input {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-inline: 1rem;
    position: relative;
}

label {
    font-weight: bold;
    display: block;
    font-size: 13px;
    margin-bottom: 7px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.registration-buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.container-input.disabled {
    color: gray;

    input {
        opacity: 0.6;
        cursor: not-allowed;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        color: gray;
        box-shadow: none;

    }
}

.registration-buttons button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: #e3db69;
    border: 1px solid #ccc;
    color: gray;
    box-shadow: none;
}

input.ng-invalid.ng-touched {
    border: 2px solid red;
}

.error-message {
    color: red;
    font-size: 0.875rem;
    display: block;
    margin-top: 0.25rem;
}