<div class="container">
    <div class="design-container">
        <h1 class="title-form">Formulario Registro</h1>
        <div class="line"></div>
        <div class="form-container">
            <form [formGroup]="productsForm" (ngSubmit)="onSubmit()">
                <div class="registration-inputs">
                    <div class="container-input">
                        <label for="inputId">ID</label>
                        <input formControlName="id" id="inputId" type="text">
                        <span
                            [ngClass]="{'error-message': true, 'show': productsForm.get('id')?.invalid && productsForm.get('id')?.touched}">
                            ID no válido!
                        </span>
                    </div>
                    <div class="container-input">
                        <label for="name">Nombre</label>
                        <input formControlName="name" id="name" type="text">
                        <span
                            [ngClass]="{'error-message': true, 'show': productsForm.get('name')?.invalid && productsForm.get('name')?.touched}">
                            Este campo es requerido!
                        </span>
                    </div>
                    <div class="container-input">
                        <label for="description">Descripcion</label>
                        <input formControlName="description" id="description"
                            type="text">
                        <span
                            [ngClass]="{'error-message': true, 'show': productsForm.get('description')?.invalid && productsForm.get('description')?.touched}">
                            Este campo es requerido!
                        </span>
                    </div>
                    <div class="container-input">
                        <label for="logo">Logo</label>
                        <input formControlName="logo" id="logo" type="text">
                        <span
                            [ngClass]="{'error-message': true, 'show': productsForm.get('logo')?.invalid && productsForm.get('logo')?.touched}">
                            Este campo es requerido!
                        </span>
                    </div>
                    <div class="container-input">
                        <label for="releaseDate">Fecha Liberacion</label>
                        <input formControlName="releaseDate" id="releaseDate"
                            type="date" [min]="today">
                        <span
                            [ngClass]="{'error-message': true, 'show': productsForm.get('releaseDate')?.invalid && productsForm.get('releaseDate')?.touched}">
                            Este campo es requerido!
                        </span>
                    </div>
                    <div class="container-input disabled">
                        <label for="revisionDate">Fecha Revision</label>
                        <input formControlName="revisionDate"
                            id="revisionDate" type="date">
                    </div>

                </div>
                <div class="registration-buttons">
                    <button class="reset-buttons"
                        type="reset">Reiniciar</button>
                    <button class="submit-buttons" type="submit"
                        [disabled]="!productsForm.valid">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>
