.container {
  width: 90%;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header-table{
  width: 10%;
}

.search-bar {
  margin: 6px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.search-bar input[type="text"] {
  padding: 6px;
  height: 30px;
  width: 200px;
  border-radius: 7px;
  border: 1px solid #ccc;
}

.table-container {
  overflow-x: auto;
  background-color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th {
  padding: 25px; 
  background-color: #f8f0f0cc;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.pagination-container {
  margin: 10px;
  padding: 10px 20px 40px 20px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  justify-content: space-between;
}

.scroll-container {
  overflow-x: auto;
  margin: 30px;
}

.info-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #b9a3a3;
  border-radius: 50%;
  position: relative;
  margin-left: 5px;
  vertical-align: middle;
  text-align: center;
  line-height: 15px;
  font-size: 15px; 
  font-weight: bold;
  color: white;
}


#pageSize{
  width: 4rem;
  height: 1.5rem;
  text-align: center;
}

.logo{
  width: 80px;
  height: auto;
}

.actions {
  position: relative;
  display: flex;
  align-items: center;
}

.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
}

.dots {
  font-size: 2rem;
  color: #000; 
}

.menu {
  position: absolute;
  right: 0;
  top: 100%;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  z-index: 1000; 
}

.menu button {
  background: none;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.menu button:hover {
  background: #f0f0f0;
}


