.reset-buttons,
.submit-buttons {
  padding: 15px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reset-buttons:hover,
.submit-buttons:hover {
  opacity: 0.8; 
}

.reset-buttons {
  background-color: #e0e0e0;
  color: rgb(131, 123, 172);
}

.submit-buttons {
  background-color: #e3db69;
  color: rgb(0, 0, 0);
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ededef;
  overflow: hidden;
}
